body {
  color: var(--text-primary-light-standart-text, #F2F2F3);
  font-family: JetBrains Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: var(--text-primary-light-standart-text, #F2F2F3);
}

.main {
  max-width: 1920px;
  height: 88px;
  padding: 0 340px;
}
